@layout('layout')

@section('head')
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Helpful Links</span>
<head>
</head>
@endsection


@section('content')


@endsection