@layout('layout')

@section('head')
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Helpful Links</span>
@endsection

@section('content')
  <form style="text-align:center" method="post">
  <h3 id="logo">Log In</h3>
  {{ csrfField() }}
  <input type="text" name="email" placeholder="Email" id=""><br>
  <input type="password" name="password" placeholder="Password" id=""><br>
  <button class="btn first" type="submit">Submit</button>
  </form>
@endsection
