@layout('layout')

@section('content')
  <h1 class="page-title">Login Page<h1>
  <form method="post">
  {{ csrfField() }}
  <input type="text" name="username" placeholder="Username" id=""><br>
  <input type="password" name="password" placeholder="Password" id=""><br>
  <button type="submit">Submit</button>
  </form>
@endsection
