@layout('layout')

@section('head')
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Helpful Links</span>
<head>
  <h3 id="logo">Today's Offers!</h3>
  </head>
@endsection

@section('content')


@endsection